@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #003366;
    --secondary: #44619A;
    --accent: #D6A419;
    --background: #003366;
    --main: #E5F0FF;
    --header: #003366;
}